/**
 *	Fonts
 */

$font--size-base: 18px;
$font--line-base: 26px;

$font-family--header: 'Open Sans', sans-serif;
$font-family--base: 'Lora', sans;


/**
 *	Colors
 */

$color--primary: #BD0716;
$color--header-bg: #2b2b2b;


/**
 *	Spacing
 */

$spacing--base: 12px;
