# Log files
._*
.DS*
.idea/
*.log
.DS_Store
.aws-keys.js
.aws-conf.js
.awspublish-*


# Sublime specific files
*.sublime-workspace
*.sublime-project


# Folders
node_modules/**/*
dist/**/*
app/vendor/**/*
docs/**/*
