<header>
	<h1>{{rome.title}}</h1>
	<button ui-sref="cv">CV</button>
</header>

<section>
	<input
		type="text"
		placeholder="Search contents"
		ng-model="search">

	<article ng-if="filteredRomans.length > 0" ng-repeat="roman in filteredRomans = (rome.romans | filter:search)">
		<div
			class="profile-image"
			style="background-image: url({{ roman.img }});">
		</div>
		<h2>{{roman.name}}</h2>
		<h4>
			Lived from
			<span ng-if="romanizeNumbers">{{ roman.birth | romanize }}</span>
			<span ng-if="!romanizeNumbers">{{ roman.birth }}</span>
			to
			<span ng-if="romanizeNumbers">{{ roman.death | romanize }}</span>
			<span ng-if="!romanizeNumbers">{{ roman.death }}</span>
		</h4>
		<div class="bio">
			{{roman.bio}}
		</div>
	</article>

	<article class="article__fallback" ng-if="filteredRomans.length === 0">
		<h3>No romans to be found with that name, try again!</h3>
	</article>

	<slider content="rome.sliderContent"></slider>
</section>
