/*/
    4.7 Border arrow
/*/

@mixin arrow($direction, $color, $size){
  display: block;
  height: 0;
  width: 0;
  
  @if $direction == 'top' {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  } @else if $direction == 'right' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  } @else if $direction == 'bottom' {
    border-top: $size solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  } @else if $direction == 'left' {
    border-top: $size solid transparent;
    border-right: $size solid $color;
    border-bottom: $size solid transparent;
  } @else if $direction == 'topleft' {
    $size: $size * 1.5;
    border-top: $size solid $color; 
    border-right: $size solid transparent;  
  } @else if $direction == 'topright' {
    $size: $size * 1.5;
    border-top: $size solid $color; 
    border-left: $size solid transparent;
  } @else if $direction == 'bottomleft' {
    $size: $size * 1.5;
    border-bottom: $size solid $color; 
    border-right: $size solid transparent;  
  } @else if $direction == 'bottomright' {
    $size: $size * 1.5; 
    border-bottom: $size solid $color; 
    border-left: $size solid transparent;
  }
}