/*/
    1.3 font-smoothing
/*/
  @mixin font-smoothing($val: antialiased) {
    -webkit-font-smoothing: $val;
    -moz-font-smoothing: $val;
    -ms-font-smoothing: $val;
    -o-font-smoothing: $val;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    font-smoothing: antialiased;
  }