/*/
    4.4 Scrollbar
/*/
@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
    @include breakpoint(print) {
      background: none;
    }
  }

  ::-webkit-scrollbar-track {
    background: $secondary;
    @include breakpoint(print) {
      background: none;
    }
  }

  * {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}