
/*/
    loader--circular
      
      // Change everything
      @include loader--circular(54px, 10px, blue, 800ms, ease);

      // Change size and border size
      @include loader--circular(54px, 10px);
/*/

  /*
    NEEDS THIS:
    @-webkit-keyframes spin { 
      100% { 
        @include transform(rotate(360deg));
      } 
    }
    @keyframes spin { 
      100% { 
        @include transform(rotate(360deg));
      } 
    }
  */
  $loader: cubic-bezier(.32,.61,.78,.48); // Default easing

  @mixin loader--circular($size: 26px, $border: 4px, $color: white, $speed: 750ms, $ease: $loader) {
    width: $size;
    height: $size;
    display: block;
    position: relative;
    > * { display: none; }
    &:after {
      @include animation(spin $speed $ease infinite);
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: $border solid $color;
      border-left-color: transparent !important;

      content: ' ';
      font-size: 0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }