/*/

   1.4 text ellipsis (text...)

/*/
    @mixin ellipsis($width, $display: inline-block) {
        white-space: nowrap; 
        width: $width; 
        overflow: hidden;
        text-overflow: ellipsis; 
        display: inline-block;
        margin-right: -4px;
    }