@mixin material($width, $height, $color) {
  	$border: 2px;
  
	width: $width;
	height: $height;
	border-radius: 2px;

	background: $color;
		
	border-bottom: $border solid darken($color, 30%);
	border-right: $border solid darken($color, 30%);
}