/**
 *	Fonts
 */

$font--size-base: 18px;
$font--line-base: 26px;

$font-family--header: 'Open Sans', sans-serif;
$font-family--base: 'Lora', sans;


/**
 *	Colors
 */

$color--primary: #bd0716;
$color--header-bg: #2b2b2b;


/**
 *	Spacing
 */

$spacing--base: 12px;


/**
 *  Breakpoints
 */

$bp-giga: 2500px;
$bp-mega: 1900px;
$bp-kilo: 1360px;
$bp-centi: 1024px;
$bp-milli: 768px;
$bp-nano: 480px;
